<div class="w-100vh min-vh-100 p-3">
    <div class="w-100 d-flex flex-column justify-content-center align-items-center">
        <h6 class="text-start w-75">search</h6>
        <label for="ingredient-search"></label>
        <input class="w-75" id="ingredient-search" type="search"></input>
    </div>
    <div class="swiper" id="spoon-carousel">
        <div class="swiper-wrapper">
            <div class="swiper-slide p-1" data-hash="butter">
                <div class="slide-content w-100 h-100">SLIDE 1 - SLIDE 1</div>
            </div>
            <div class="swiper-slide p-1" data-hash="oil">
                <div class="slide-content w-100 h-100">SLIDE 2 - SLIDE 2</div>
            </div>
            <div class="swiper-slide p-1" data-hash="salt">
                <div class="slide-content w-100 h-100">SLIDE 3 - SLIDE 3</div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
