<div class="vh-50 d-flex flex-column justify-content-center align-items-center">
    <div id="home-spoon-logo" class="home-menu">
        <img id="magic-spoon-logo" alt="The magic spoon logo" class="mh-100 mw-100 d-block" src="/src/images/magic-spoon.png">
    </div>
    <h1 id="home-project-name" class="fw-bold text-center w-100 px-3 py-5 main-pick-color display-2">The Magic Spoon</h1>
</div>
<div class="d-flex justify-content-around align-items-center fw-bold flex-column">
    <div class="home-menu home-menu-list prevent-select text-center px-3 py-3 m-2" role="button">Oops… too salty</div>
    <div class="home-menu home-menu-list prevent-select text-center px-3 py-3 m-2" role="button">Spice Surprise ?</div>
    <div class="home-menu home-menu-list prevent-select text-center px-3 py-3 m-2" role="button">Flour Everywhere...</div>
</div>
