<div class="vw-100 p-3 d-flex flex-column justify-content-center align-items-center" id="spoons-form">
    <div class="d-flex flex-column">
        <h6 id="search-title" class="text-start w-75">search</h6>
        <div class="d-flex align-items-center">
            <label for="ingredient-search"></label>
            <input id="ingredient-search" type="text">
            <i id="clear-button" class="ps-1 fa-solid fa-xmark"></i>
        </div>
    </div>
</div>
<div id="spoons-carousel-container"></div>
